# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Vector Database
vectorstore/

# Hugging Face Cache
.cache/
huggingface/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log